hr {
	width: 100%;
	border: 2px solid #6868f0;
	border-radius: 5px;
	opacity: 1;
}

.area-file {
	border-radius: 5px;
	border: 1px dashed #c1c1c1;
	width: 100%;
	height: 200px;
	padding-top: 80px;
}

.centrar {
	position: absolute;
	left: 50%;
	right: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	top: 100px;
}

input[type='file']#archivo {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

label[for='archivo'] {
	font-size: 18px;
	cursor: pointer;
}

input[type='file']#GeoLocalizacionImg {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

label[for='GeoLocalizacionImg'] {
	font-size: 18px;
	cursor: pointer;
}

input[type='file']#CroquisImg {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

label[for='CroquisImg'] {
	font-size: 18px;
	cursor: pointer;
}

input[type='file']#RFImg {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

label[for='RFImg'] {
	font-size: 18px;
	cursor: pointer;
}

input[type='file']#RFImg2 {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

label[for='RFImg2'] {
	font-size: 18px;
	cursor: pointer;
}

input[type='file']#RFAImg {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

label[for='RFAImg'] {
	font-size: 18px;
	cursor: pointer;
}

input[type='file']#RFAImg2 {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

label[for='RFAImg2'] {
	font-size: 18px;
	cursor: pointer;
}

img.alinear {
	margin-right: 5px;
	vertical-align: text-bottom;
}

.btn-flotante {
	font-size: 14px; /* Cambiar el tamaño de la tipografia */
	/*text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius: 5px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	background-color: #6868f0; /* Color de fondo */
	padding: 10px 15px; /* Relleno del boton */
	position: fixed;
	bottom: 40px;
	right: 5px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}
.btn-flotante:hover {
	background-color: #e91e63; /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}
@media only screen and (max-width: 600px) {
	.btn-flotante {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
}

/* @media only screen and (max-width: 1365px) {
	.btn-flotante {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
		background-color: #d3237b;
	}
} */

a.btn-flotante,
a.btn-flotante:link,
a.btn-flotante:visited,
a.btn-flotante:hover,
a.btn-flotante:active {
	text-decoration: none;
	cursor: pointer;
}

.ocultar {
	display: none;
}
.viewImg {
	margin: 25px;
	width: 500px;
	height: 500px;
}

.btn {
	padding: 0.45rem 1.5rem 0.35rem;
}

.fondo-morado {
	background-color: #6868f0 !important;
}

.spinner {
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.spinner::before,
.spinner:after {
	content: '';
	position: absolute;
	border-radius: inherit;
}

.spinner:before {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(0deg, #fff 0%, #6868f0 100%);
	animation: spin 0.5s infinite linear;
}

.spinner:after {
	width: 80%;
	height: 80%;
	background-color: #151515;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

.ocultar {
	display: none;
}

.overlay {
	height: 100vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.286);
	z-index: 10000;
	top: 0;
	left: 0;
	position: fixed;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100000000;
}

.cont {
	margin-top: 100px;
}

.error {
	border-color: #dc3545;
	padding-right: calc(1.5em + 0.75rem);
	background-image: url(../file/svg/errorinput.svg);
	background-repeat: no-repeat;
	background-position: right calc(0.375em + 0.1875rem) center;
	background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.errorMensaje {
	width: 100%;
	margin-top: 0.25rem;
	font-size: 0.875em;
	color: #dc3545;
}

.inputValido {
	border-color: #198754;
	padding-right: calc(1.5em + 0.75rem);
	background-image: url(../file/svg/comaverde.svg);
	background-repeat: no-repeat;
	background-position: right calc(0.375em + 0.1875rem) center;
	background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.oculto {
	display: none;
}

label {
	cursor: pointer !important;
}

label:hover {
	color: #6868f0 !important;
}

.custom-tooltip {
	--bs-tooltip-bg: var(--bs-primary);
}

.icono {
	color: #000;
	font-size: 26px !important;
}

.icono:hover {
	color: #6868f0 !important;
}

.eliminar {
	color: #ff0000 !important;
	cursor: pointer !important;
}

.eliminar:hover {
	color: #6868f0 !important;
}
